.main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main #header {
    font-size: 38px;
    text-align: center;
    padding-top: 10px;
}
.main #header #description {
    font-size: 18px;
    text-align: center;
}
/* Make links look like normal text inside .main */
.main a {
    color: inherit;
    text-decoration: none;
}

/* Optional: subtle hover so users know it's clickable */
.main a:hover {
    text-decoration: underline;
    cursor: pointer;
}
#Section {
    text-align: center;
}
#Section .SubSection {
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: 40px;
    padding: 10px;
    text-align: center;        
    font-size: 13px;
    opacity: 0.7;
}

.icon-link {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.icon-link img {
    width: 16px;
    height: 16px;
}

/* Class . Id  # */