<header class="global-header">
  <div class="header-inner">
    <a href="/" class="header-logo">
      <img src="/img/Braxon'sStuffLogo-256x256.png" alt="Braxon's Stuff Logo">
      <span>Braxon's Stuff</span>
    </a>

    <nav class="header-nav">
      <a href="/" class="nav-link" title="Home">Home</a>

      <a
        href="https://github.com/Ryandakidd777/Braxons-Stuff/"
        target="_blank"
        rel="noopener"
        class="nav-icon"
        title="View Source"
      >
        <img
          id="github-icon"
          src="/img/GitHubLogos/GitHubLogo.png"
          alt="GitHub"
        >
      </a>
    </nav>
  </div>
</header>
