<noscript>
  <div class="noscript-banner">
    ⚠ JavaScript is disabled. Some features of this website may not work correctly.
    Learn how to enable JavaScript here:
    <a href="https://support.google.com/adsense/answer/12654?hl=en" target="_blank" rel="noopener">
      Enable JavaScript Instructions
    </a>
  </div>
</noscript>
</noscript>
<header class="global-header">
  <div class="header-inner">
    <a href="/" class="header-logo">
      <img src="/img/Braxon'sStuffLogo.png" alt="Braxon's Stuff Logo" id="braxons-stuff-logo">
      <span>Braxon's Stuff</span>
    </a>

    <nav class="header-nav">
      <a href="/" class="nav-link" title="Home">Home</a>

      <button id="theme-toggle" class="nav-icon" title="Toggle Theme">
        <img id="theme-toggle-icon"
             src="/img/LightDarkIcons/DefaultToggle.png"
             alt="Theme Toggle">
      </button>

      <a
        href="https://github.com/Ryandakidd777/Braxons-Stuff/"
        target="_blank"
        rel="noopener"
        class="nav-icon"
        title="View Source"
      >
        <img id="github-icon"
             src="/img/GitHubLogos/GitHubLogo.png"
             alt="GitHub">
      </a>
    </nav>
  </div>
</header>
<!--hi-->
<!--hi again 3/26/2026 EST-->